body {
  font-family: "Poppins", sans-serif;
}

.header {
  height: 100vh;
  width: 100%;
  background: #1c1e53;
}
.header .hero {
  width: 100%;
}
.hero {
  height: 1020px;
}
.row {
  height: 900px;
  padding: 149px 0px;
}
.row .h1 {
  color: white;
  max-width: 582px;
  width: 100%;
  font-size: 54px;
  font-weight: 600;
  line-height: 74px; /* 137.037% */
}
.row p {
  color: #fff;
  max-width: 562px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px; /* 175% */
}
.row .site-btn-hero {
  padding: 16px 56px;
  background-color: #fcd980;
  border: 2px solid #fcd980;
  border-radius: 47px;
  color: #1b1c2b;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  transition: all 0.9s;
  cursor: pointer;
}
.site-btn-hero:hover {
  background-color: #1c1e53;
  color: #fff;
}
.header .navbar {
  height: 91px !important;
}
.navbar,
.offcanvas {
  background: #1c1e53;
}
.navbar .navbar-toggler {
  border-color: 2px solid wheat;
}
.navbar.offcanvas {
  background: #1c1e53 !important;
}
.offcanvas-body .navbar-nav .nav-item {
  padding: 0px 18px;
}
.offcanvas-body .nav-link.active {
  color: #fff;
  font-size: 20px;
  text-transform: capitalize !important;
}
.offcanvas-body .nav-link {
  color: #fff;
  font-size: 20px;
  text-transform: capitalize !important;
  transition: all 0.9s;
}
.nav-link:hover {
  color: #fcd980;
}

.offcanvas-body .btn-sd {
  border: 2px solid white !important;
  padding: 16px 64px;
  border-radius: 47px;
  transition: all 0.9s;
}

.btn-sd:hover {
  background-color: #1c1e53;
  color: white;
}
